html, body {
  font-family: @baseFontFamily;
  font-size: @mobileBaseFontSize;
  color: @textColor;

  -webkit-text-size-adjust:none;

  min-width: 320px;
  height: 100%;
	
	.border-box;
  .noSelect;
}