// Colors
// -------------------------

@black:     #000;
@white:     #fff;

@blue: 			#005a85;
@gray: 			#999;

@grayLight: #e7e7e7;

@grayC9:		#c9c9c9;
@grayF8: 		#f8f8f8;


@bodyBackground:               @white;
@textColor:                    @gray;



// Scaffolding
// -------------------------

@sectionPadding: 					25px;
@sectionPaddingTablet: 				40px;

//@gallerySectionPadding: 	@sectionPadding - 7px;


// Responsive
// -------------------------

@maxWidthMobile: 					749px;
@minWidthTablet: 					750px;

@maxWidthTablet: 					999px;
@minWidthDesktop: 					1000px;

// Typography
// -------------------------

@baseFontFamily:    "OptimaLTPro-Roman", Helvetica, Arial, sans-serif;

@headingsFontWeight:    normal;
@headingsColor:         @blue;

@baseLineHeight:          1.5;

@menueFontSize:           24px;

@mobileH1FontSize:        40px;
@mobileH2FontSize:        24px;
@mobileH3FontSize:        20px;
@mobileH4FontSize:        16px;
@mobileBaseFontSize:      13px;


@tabletH1FontSize:        50px;
@tabletH2FontSize:        24px;
@tabletH3FontSize:        20px;
@tabletH4FontSize:        16px;
@tabletBaseFontSize:      16px;

@desktopH1FontSize:       60px;
@desktopH2FontSize:       24px;
@desktopH3FontSize:       20px;
@desktopH4FontSize:       16px;
@desktopBaseFontSize:     16px;


// Images
// ------


@mobileLogo_2x: 						url('../images/logo_mobile_@2x.png') no-repeat top left;
@tabletLogo_2x: 						url('../images/logo_tablet_@2x.png') no-repeat top left;