// Colors
// -------------------------

@black:     #000;
@white:     #fff;

@blue: 			#86bacf;
@gray: 			#999;

@grayLight: #e7e7e7;

@grayC9:		#c9c9c9;
@grayF8: 		#f8f8f8;


@bodyBackground:               @black;
@backgroundTransparend:		   rgba(0, 0, 0, 0.7);
@textColor:                    @white;
@linkColor: 				   @blue;
@borderColor:				   #535353;



// Scaffolding
// -------------------------

@sectionPadding: 					25px;
@sectionPaddingTablet: 				40px;

//@gallerySectionPadding: 	@sectionPadding - 7px;


// Responsive
// -------------------------

@maxWidthMobile: 					749px;
@widhtBreakpointTablet:				450px;
@minWidthTablet: 					750px;
@widhtBreakpointDesktop:			850px;
@widhtBreakpointFloat: 				850px;


@maxWidthTablet: 					999px;
@minWidthDesktop: 					1000px;

// Typography
// -------------------------

@baseFontFamily:    'HelveticaNeueW02_53 Ext', Helvetica, Arial, sans-serif;
@highlightFontFamily:    'HelveticaNeueW02-BdExt', Helvetica, Arial, sans-serif;

@headingsFontWeight:    normal;
@headingsColor:         @white;

@baseLineHeight:          1.5;

@menueFontSize:           14px;

@mobileH1FontSize:        18px;
@mobileH2FontSize:        14px;
@mobileH3FontSize:        14px;
@mobileH4FontSize:        14px;
@mobileBaseFontSize:      12px;
@mobileTeaserFontSize:	  18px;


@tabletH1FontSize:        18px;
@tabletH2FontSize:        14px;
@tabletH3FontSize:        14px;
@tabletH4FontSize:        14px;
@tabletBaseFontSize:      12px;
@tabletMenuFont:	      14px;
@tabletSubMenuFont:	      14px;

@desktopH1FontSize:       25px;
@desktopH2FontSize:       22px;
@desktopH3FontSize:       22px;
@desktopH4FontSize:       22px;
@desktopBaseFontSize:     16px;
@desktopMenuFont:	      20px;
@desktopSubMenuFont:	  14px;
@desktopTeaserFontSize:	  25px;


