.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.positioned {
  position: relative;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.noWrap {
  white-space: nowrap;
}
.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.sc-tr {
  display: table !important;
  table-layout: fixed;
  height: 100%;
  position: relative;
}
.sc-tr > div {
  display: table-row !important;
  position: relative;
}
.sc-tr > div.fillSpace {
  height: 100% !important;
}
.sc-tc {
  display: table;
}
.sc-tc > div {
  display: table-cell;
}
.sc-tc100 {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.sc-tc100 > div {
  display: table-cell;
}
.fix-tr {
  position: relative;
  display: block;
  height: 100%;
}
.fix-tc {
  position: relative;
  display: block;
}
.noScroll {
  overflow: hidden;
}
.noTapHighlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * @license
 * MyFonts Webfont Build ID 2893972, 2014-10-02T06:54:11-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: OptimaLTPro-Roman by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/optima/pro-roman/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 2008 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be reproduced, 
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2893972
 * 
 * © 2014 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
/*
@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../fonts/HelveticaNeueLTPro-LtEx.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTPro-LtEx.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTPro-LtEx.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-LtEx.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTPro-LtEx.svg#HelveticaNeueLTPro-LtEx') format('svg');
  font-weight: italic;
  font-style: italic;
}



@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../fonts/HelveticaNeueLTPro-MdEx.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTPro-MdEx.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTPro-MdEx.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-MdEx.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTPro-MdEx.svg#HelveticaNeueLTPro-MdEx') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../fonts/HelveticaNeueLTPro-Ex.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTPro-Ex.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTPro-Ex.woff') format('woff'), url('../fonts/HelveticaNeueLTPro-Ex.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTPro-Ex.svg#HelveticaNeueLTPro-Ex') format('svg');
  font-weight: bold;
  font-style: bold;
}*/
p,
a,
li {
  margin: 0;
  line-height: 1.5;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 12px;
}
@media only screen and (min-width: 749px) {
  p,
  a,
  li {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1000px) {
  p,
  a,
  li {
    font-size: 16px;
  }
}
p a {
  text-decoration: underline;
}
a {
  position: relative;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a.internalLink,
a.externalLink {
  text-decoration: underline;
  color: #86bacf;
  display: block;
  padding: 10px 0 0 30px;
}
a.internalLink:before,
a.externalLink:before {
  position: absolute;
  left: 0;
  top: 9px;
  vertical-align: baseline;
  font-size: 20px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  margin: 0;
  display: inline-block;
  font-weight: normal;
  font-family: 'HelveticaNeueW02-BdExt', Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-rendering: optimizelegibility;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
h3 {
  color: #ffffff;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
@media only screen and (min-width: 749px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 14px;
    padding-bottom: 5px;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 16px;
  }
}
ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  line-height: 1.5;
}
.divider {
  height: 10px;
}
html,
body {
  font-family: 'HelveticaNeueW02_53 Ext', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
  background-color: #000000;
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@media only screen and (min-width: 750px) {
  html,
  body {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1000px) {
  html,
  body {
    font-size: 16px;
  }
}
#theLogo {
  padding: 20px 0 13px 20px;
}
@media only screen and (min-width: 750px) {
  #theLogo {
    position: absolute;
    padding: 0;
    bottom: 30px;
    left: 40px;
  }
}
#theMenu {
  font-weight: normal;
  z-index: 101;
  background-color: #000000;
  font-family: 'HelveticaNeueW02-BdExt', Helvetica, Arial, sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  border-bottom: 1px solid #535353;
}
@media only screen and (min-width: 750px) {
  #theMenu {
    height: 140px;
  }
}
#desktopMenu {
  position: absolute;
  padding: 0;
  bottom: 30px;
  right: 40px;
}
#desktopMenu a {
  font-size: 14px;
}
@media only screen and (min-width: 1000px) {
  #desktopMenu a {
    font-size: 20px;
  }
}
#desktopMenu a:hover {
  color: #86bacf;
}
#desktopMenu .submenu {
  padding-top: 31px;
}
#desktopMenu .submenu a {
  font-size: 14px;
  color: #ffffff;
}
#desktopMenu .submenu a :hover {
  color: #86bacf;
}
@media only screen and (min-width: 1000px) {
  #desktopMenu .submenu a {
    font-size: 14px;
  }
}
#desktopMenu .submenu a:hover {
  color: #86bacf;
}
/******************************************************
                        BIG MENU
******************************************************/
.navbar-menu {
  background-color: #000000;
  max-width: 1000px;
  width: calc(100%);
}
.navbar-menu .menu {
  display: block;
  text-align: left;
}
.navbar-menu .menu li {
  display: inline-block;
  margin-left: 40px;
}
.navbar-menu .menu li:hover > .submenu {
  display: block;
  -webkit-animation-name: showSubMenu;
  -webkit-animation-duration: 0.4s;
}
.navbar-menu .menu li ul {
  display: none;
  position: absolute;
}
.navbar-menu .menu li ul li {
  display: block;
  padding: 0 14px;
  margin-left: 0px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar-menu .menu li ul li:first-child {
  display: block;
  height: 10px;
  padding: 0;
}
.navbar-menu .menu li ul li a:active {
  -webkit-animation-name: hideSubMenu;
  -webkit-animation-duration: .4s;
}
/******************************************************
                        MINI MENU
******************************************************/
/* Mini menu */
.navbar-mini-menu {
  background-color: #000000;
  display: none;
}
.navbar-mini-menu .menu-select {
  color: #fff;
}
.navbar-mini-menu .menu-select .btn-select {
  background: url("../images/icon.png") no-repeat;
  cursor: pointer;
  position: absolute;
  height: 30px;
  width: 15px;
  right: 20px;
  top: 20px;
}
.navbar-mini-menu .mini-menu-options {
  display: block;
}
.navbar-mini-menu .mini-menu-options li {
  display: block;
}
.navbar-mini-menu .mini-menu-options li:focus {
  outline: 0;
}
@-webkit-keyframes showSubMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideSubMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*****************************************************                       MEDIAQUERIES
*****************************************************/
@media screen and (max-width: 749px) {
  /* Elimina los margenes al nav */
  .navbar-menu {
    margin: 0;
    height: 80px;
  }
  .navbar-menu .menu {
    display: none;
  }
  /* Muestra el mini menu */
  .navbar-mini-menu {
    display: block;
  }
  /* Esconde la lista del mini menu */
  .navbar-mini-menu .mini-menu-options {
    display: none;
    border-bottom: 1px solid #535353;
  }
  .navbar-mini-menu .mini-menu-options li {
    display: block;
    border-bottom: 1px solid #535353;
    margin-bottom: 13px;
    padding-bottom: 8px;
  }
  .navbar-mini-menu .mini-menu-options li a {
    padding: 20px 0px 20px 20px;
  }
  .navbar-mini-menu .mini-menu-options .submenu li {
    border: none;
    padding-left: 25px;
    background: none;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .navbar-mini-menu .mini-menu-options .submenu li a {
    padding: 0px 0px 12px 10px;
  }
  .navbar-mini-menu .mini-menu-options .miniMenuSocial {
    padding: 13px 0 16px 0;
    text-align: center;
  }
  .navbar-mini-menu .mini-menu-options .miniMenuSocial img {
    margin-left: 5px;
    margin-right: 5px;
  }
  .deactivate {
    background: url("../images/arrow_down.png") no-repeat center bottom;
  }
  .activate {
    background: url("../images/arrow_top.png") no-repeat center bottom;
  }
}
/*--------------------------------------------------------*/
/*THE CSS FOR HOLE SITE*/
#mainWrapper {
  opacity: 0;
}
#soundControll {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 200;
  top: 30%;
  bottom: auto;
  left: 0;
  right: 0;
  margin: auto;
}
@media only screen and (min-width: 750px) {
  #soundControll {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 200;
    bottom: 27.5%;
    right: 40px;
    top: auto;
    left: auto;
  }
}
.soundOff {
  background: url(../images/play.png) no-repeat center center;
}
@media only screen and (min-width: 750px) {
  .soundOff {
    background: url(../images/soundOFF.png) no-repeat center center;
  }
}
.soundOn {
  background: url(../images/play.png) no-repeat center center;
}
@media only screen and (min-width: 750px) {
  .soundOn {
    background: url(../images/soundON.png) no-repeat center center;
  }
}
.showReelContainer {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 70px;
  margin: auto;
}
@media only screen and (min-width: 750px) {
  .showReelContainer {
    top: 100px;
    width: 80%;
  }
}
@media only screen and (min-width: 999px) {
  .showReelContainer {
    top: 120px;
    width: 50%;
  }
}
.imageStartFullscreenWrapper {
  position: absolute;
  left: 0;
  top: 18px;
  width: 100%;
  height: 100%;
}
.imageStartFullscreenWrapper #container {
  position: relative;
  overflow: hidden;
}
.imageStartFullscreenWrapper #container .content {
  position: absolute;
  top: 0;
  left: 0;
}
.imageStartFullscreenWrapper .imageStartFullscreen {
  height: 100%;
}
.imageStartFullscreenWrapper .imageStartFullscreen img {
  width: 100%;
}
.imageStartFullscreenWrapper video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/fullscreenStart.jpg) no-repeat;
  background-size: cover;
}
.imageStartFullscreenWrapper .fullscreenHeadlineBox {
  position: absolute;
  display: none;
  bottom: 0px;
  min-height: 40%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px 0px 10px 0px;
  border-top: 1px solid #535353;
  font-family: 'HelveticaNeueW02-BdExt', Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 750px) {
  .imageStartFullscreenWrapper .fullscreenHeadlineBox {
    bottom: 0px;
    min-height: 20%;
  }
}
.imageStartFullscreenWrapper .fullscreenHeadlineBox a {
  font-size: 18px;
}
@media only screen and (min-width: 1000px) {
  .imageStartFullscreenWrapper .fullscreenHeadlineBox a {
    font-size: 25px;
  }
}
.imageStartFullscreenWrapper .fullscreenHeadlineBox div {
  padding: 0 20px 0 20px;
}
.imageStartFullscreenWrapper .fullscreenHeadlineBox img {
  padding: 0 10px 1px 0;
}
.imageStartFullscreenWrapper .fullscreenHeadlineBox .headlineBoxArrowDown {
  position: absolute;
  padding-top: 20px;
  height: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.wrapperContainer {
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  position: relative;
}
@media only screen and (min-width: 1000px) {
  .wrapperContainer {
    font-size: 16px;
  }
}
.wrapperContainer .headlineContainer {
  padding: 20px 20px 40px 20px;
  margin-top: 90px;
}
@media only screen and (min-width: 750px) {
  .wrapperContainer .headlineContainer {
    padding: 50px 40px 50px 40px;
    margin-top: 160px;
  }
  .wrapperContainer .headlineContainer .theHeadline {
    float: left;
  }
}
.wrapperContainer .headlineContainer .textContainer {
  margin-top: 35px;
}
@media only screen and (min-width: 450px) {
  .wrapperContainer .headlineContainer .textContainer {
    margin-top: 15px;
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 60px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 60px;
    /* Firefox */
    column-gap: 60px;
    max-width: 900px;
  }
}
.wrapperContainer .containerText {
  padding: 20px 20px 40px 20px;
  margin-top: 90px;
}
.wrapperContainer .containerText .headlineTextContent {
  padding-bottom: 20px;
}
@media only screen and (min-width: 750px) {
  .wrapperContainer .containerText {
    padding: 50px 40px 20px 40px;
    margin-top: 160px;
  }
  .wrapperContainer .containerText .onlyMobile {
    display: none;
  }
  .wrapperContainer .containerText .textLeft {
    float: left;
    width: 440px;
    padding-right: 28px;
    padding-bottom: 60px;
  }
}
.wrapperContainer .portfolioImageShow {
  padding-bottom: 40px;
}
.wrapperContainer .portfolioImageShow .theImageTag {
  max-width: 100%;
  max-height: 250px;
}
@media only screen and (min-width: 750px) {
  .wrapperContainer .portfolioImageShow .theImageTag {
    max-height: 350px;
  }
}
@media only screen and (min-width: 999px) {
  .wrapperContainer .portfolioImageShow .theImageTag {
    max-height: 550px;
  }
}
.wrapperContainer .portfolioImageShowProject {
  margin-top: 40px;
}
@media only screen and (min-width: 450px) {
  .wrapperContainer .portfolioImageShowProject {
    margin-top: 0px;
  }
}
.wrapperContainer .portfolioImageShowProject .theImageTag {
  max-width: 100%;
  max-height: 250px;
}
@media only screen and (min-width: 750px) {
  .wrapperContainer .portfolioImageShowProject .theImageTag {
    max-height: 350px;
  }
}
@media only screen and (min-width: 999px) {
  .wrapperContainer .portfolioImageShowProject .theImageTag {
    max-height: 550px;
  }
}
.wrapperContainer .previewPortfolio {
  margin-top: 20px;
}
@media only screen and (min-width: 450px) {
  .wrapperContainer .previewPortfolio {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0px;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
.wrapperContainer .previewPortfolio .videoShowreel {
  width: 100%;
}
.wrapperContainer .previewPortfolio .linkToProject {
  height: 210px;
  width: 100%;
  position: relative;
}
.wrapperContainer .previewPortfolio .linkToProject .hiddenDescription {
  display: none;
}
.wrapperContainer .previewPortfolio .linkToProject :hover > .portfolioTextHover span {
  color: #86bacf;
  background: url('../images/arrow_left.png') no-repeat left center;
  padding-left: 10px;
  padding-top: 3px;
}
@media only screen and (min-width: 450px) {
  .wrapperContainer .previewPortfolio .linkToProject {
    width: 50%;
  }
}
@media only screen and (min-width: 650px) {
  .wrapperContainer .previewPortfolio .linkToProject {
    width: 33%;
  }
}
@media only screen and (min-width: 850px) {
  .wrapperContainer .previewPortfolio .linkToProject {
    width: 25%;
  }
}
.wrapperContainer .previewPortfolio .linkToProject .portfolioElement {
  font-size: 14px;
}
@media only screen and (min-width: 850px) {
  .wrapperContainer .previewPortfolio .linkToProject .portfolioElement {
    font-size: 18px;
  }
}
.wrapperContainer .previewPortfolio .linkToProject .portfolioElement .a {
  width: 100%;
  height: auto;
}
.wrapperContainer .previewPortfolio .linkToProject .portfolioElement .portfolioImage {
  height: 210px;
  overflow: hidden;
}
.wrapperContainer .previewPortfolio .linkToProject .portfolioElement .portfolioTextHover {
  text-align: center;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  padding-left: 3px;
  padding-right: 3px;
}
.wrapperContainer .previewPortfolio .latestProduction {
  height: 210px;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 450px) {
  .wrapperContainer .previewPortfolio .latestProduction {
    width: 50%;
  }
}
.wrapperContainer .previewPortfolio .latestProduction .theImageTag {
  width: 100%;
  height: auto;
}
.wrapperContainer .previewPortfolio .latestProduction .portfolioImage {
  height: 210px;
  overflow: hidden;
}
.wrapperContainer .previewPortfolio .latestProduction .portfolioTextHover {
  text-align: center;
  bottom: 0px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.7);
  height: 32px;
  padding-top: 15px;
  padding-left: 3px;
  padding-right: 3px;
}
.wrapperContainer .previewPortfolioLatestProduction {
  margin-top: 20px;
}
@media only screen and (min-width: 450px) {
  .wrapperContainer .previewPortfolioLatestProduction {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0px;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
.wrapperContainer .previewPortfolioLatestProduction .linkToProject {
  height: 300px;
  width: 100%;
  position: relative;
}
.wrapperContainer .previewPortfolioLatestProduction .linkToProject .hiddenDescription {
  display: none;
}
.wrapperContainer .previewPortfolioLatestProduction .linkToProject :hover > .portfolioTextHover span {
  color: #86bacf;
  background: url('../images/arrow_left.png') no-repeat left center;
  padding-left: 10px;
  padding-top: 3px;
}
@media only screen and (min-width: 450px) {
  .wrapperContainer .previewPortfolioLatestProduction .linkToProject {
    width: 50%;
  }
}
.wrapperContainer .previewPortfolioLatestProduction .linkToProject .portfolioElement {
  font-size: 14px;
}
@media only screen and (min-width: 850px) {
  .wrapperContainer .previewPortfolioLatestProduction .linkToProject .portfolioElement {
    font-size: 18px;
  }
}
.wrapperContainer .previewPortfolioLatestProduction .linkToProject .portfolioElement .a {
  width: 100%;
  height: auto;
}
.wrapperContainer .previewPortfolioLatestProduction .linkToProject .portfolioElement .portfolioImage {
  height: 300px;
  overflow: hidden;
}
.wrapperContainer .previewPortfolioLatestProduction .linkToProject .portfolioElement .portfolioTextHover {
  text-align: center;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  padding-left: 3px;
  padding-right: 3px;
}
.projectDescription {
  padding: 20px 20px 20px 20px;
}
.projectDescription .tagsProject ul {
  list-style-type: none;
}
.projectDescription .tagsProject ul li {
  font-size: 12px;
  line-height: 2;
}
@media only screen and (min-width: 750px) {
  .projectDescription {
    padding: 50px 40px 40px 40px;
  }
  .projectDescription .dividerWhite {
    display: none;
  }
  .projectDescription .tagsProject {
    float: right;
    text-align: right;
  }
  .projectDescription .tagsProject ul li {
    margin-bottom: 20px;
    line-height: 1.1;
    font-size: 12px;
  }
  .projectDescription .textProject {
    float: left;
    width: 450px;
  }
  .projectDescription .theShowElementsMenue {
    text-align: right;
    margin-top: 0px;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 850px) {
  .projectDescription {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: space-between;
    align-content: space-between;
  }
  .projectDescription .projectMainDescription {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .projectDescription .projectMainDescription .tagsProject {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    float: none;
    min-width: 250px;
    text-align: left;
  }
  .projectDescription .projectMainDescription .tagsProject ul li {
    line-height: 1.5;
  }
  .projectDescription .projectMainDescription .textProject {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    float: none;
    width: 490px;
    padding-right: 40px;
  }
  .projectDescription .theShowElementsMenue {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    float: none;
    width: 210px;
    margin-top: 0px;
    text-align: right;
  }
}
@media only screen and (min-width: 999px) {
  .projectDescription .projectMainDescription .tagsProject ul li {
    font-size: 16px;
  }
}
.projectDescriptionTextOnly {
  padding: 20px 20px 0px 20px;
}
@media only screen and (min-width: 750px) {
  .projectDescriptionTextOnly {
    padding: 20px 40px 0px 40px;
  }
  .projectDescriptionTextOnly .dividerWhite {
    display: none;
  }
  .projectDescriptionTextOnly .theShowElementsMenue {
    float: right;
    width: 200px;
    margin-top: 25px;
  }
}
.theShowElementsMenue {
  margin-top: 15px;
  padding-bottom: 20px;
}
.theShowElementsMenue ul {
  list-style-type: none;
  margin-top: 15px;
}
.theShowElementsMenue ul li {
  line-height: 2;
}
.theShowElementsMenue ul li a {
  background: url("../images/arrow_left.png") no-repeat left center;
  padding-left: 15px;
  padding-top: 0px;
}
.theShowElementsMenue ul li a:hover {
  background: none;
  color: #86bacf;
}
.projectDescriptionRelated {
  margin-top: 20px;
  padding: 0px 0px 0px 20px;
}
@media only screen and (min-width: 450px) {
  .projectDescriptionRelated {
    padding: 0px 0px 0px 40px;
    margin-top: 0px;
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 60px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 60px;
    /* Firefox */
    column-gap: 60px;
    max-width: 900px;
  }
}
.releatedProjects {
  margin-top: 20px;
}
.releatedProjects .linkToProject {
  height: 210px;
  width: 100%;
  position: relative;
}
.releatedProjects .linkToProject .hiddenDescription {
  display: none;
}
.releatedProjects .linkToProject :hover > .portfolioTextHover span {
  color: #86bacf;
  background: url('../images/arrow_left.png') no-repeat left center;
  padding-left: 10px;
  padding-top: 3px;
}
@media only screen and (min-width: 450px) {
  .releatedProjects .linkToProject {
    width: 50%;
  }
}
@media only screen and (min-width: 850px) {
  .releatedProjects .linkToProject {
    width: 25%;
  }
}
.releatedProjects .linkToProject .portfolioElement .a {
  width: 100%;
  height: auto;
}
.releatedProjects .linkToProject .portfolioElement .portfolioImage {
  overflow: hidden;
}
.releatedProjects .linkToProject .portfolioElement .portfolioImage img {
  max-height: 150px;
}
@media only screen and (min-width: 450px) {
  .releatedProjects .linkToProject .portfolioElement .portfolioImage img {
    max-height: 260px;
  }
}
.releatedProjects .linkToProject .portfolioElement .portfolioTextHover {
  text-align: center;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
}
.releatedProjects .linkToProject .portfolioElement .portfolioTextHover span {
  padding-left: 3px;
  padding-right: 3px;
}
.allProjectsMenue {
  margin-top: 15px;
}
.allProjectsMenue ul {
  list-style-type: none;
  margin-top: 15px;
}
.allProjectsMenue ul li {
  line-height: 2;
}
.allProjectsMenue ul li a {
  background: url("../images/arrow_left.png") no-repeat left center;
  padding-left: 15px;
}
.allProjectsMenue ul li a:hover {
  background: none;
  color: #86bacf;
}
@media only screen and (min-width: 750px) {
  .allProjectsMenue {
    text-align: right;
    margin-top: -12px;
  }
  .allProjectsMenue ul li {
    margin-left: 35px;
    display: inline-block;
  }
}
@media only screen and (max-width: 749px) {
  /* The animation code */
  @keyframes showText {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* The element to apply the animation to */
  .morecontent span {
    animation-name: showText;
    animation-duration: .3s;
    display: none;
  }
}
/*--------------------------------------------------------*/
/*THE TEXTSITE*/
.headlineContainer h1 {
  z-index: 100;
  background-color: black;
  padding: 10px 10px 5px 10px;
  margin-left: -10px;
}
.headlineContainer .headlineProject {
  position: fixed;
  padding-bottom: 8px;
  padding-left: 30px;
  left: 0;
}
@media only screen and (min-width: 450px) {
  .headlineContainer h1 {
    position: relative;
    background-color: transparent;
    padding: 0;
    margin-left: 0;
    z-index: 0;
  }
  .headlineContainer .headlineProject {
    position: relative;
    padding-bottom: 0px;
  }
}
.headlineContainer .headlineTextContent {
  width: 100%;
  margin-bottom: 20px;
}
@media only screen and (min-width: 750px) {
  .headlineContainer .projectDescriptionText .dividerWhite {
    display: none;
  }
}
@media only screen and (min-width: 750px) {
  .headlineContainer .textWrapper {
    float: left;
    /*width: 450px;
			padding-right: 33px;*/
  }
}
.footerTextSite {
  text-align: center;
  height: 30px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  padding-top: 15px;
}
/*--------------------------------------------------------*/
/*THE FOOTER*/
#theFooter {
  display: none;
  font-size: 12px;
}
@media only screen and (min-width: 750px) {
  #theFooter {
    position: absolute;
    background-color: #000000;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
#theFooter #footerLeft {
  float: left;
  padding-top: 4px;
}
#theFooter #footerRight {
  float: right;
}
#theFooter #footerRight ul {
  list-style-type: none;
}
#theFooter #footerRight ul li {
  display: inline-block;
  padding-left: 10px;
}
#theFooter #footerRight ul li a {
  font-size: 12px;
}
#theFooter #footerRight ul li span {
  display: inline-block;
  vertical-align: middle;
  height: 43px;
}
/*--------------------------------------------------------*/
/*THE BREADCRUMPS*/
#breadcrumps {
  display: none;
}
@media only screen and (min-width: 750px) {
  #breadcrumps {
    display: block;
    float: right;
    margin-right: 40px;
    position: fixed;
    right: 0px;
    z-index: 100;
  }
  #breadcrumps ul {
    list-style-type: none;
  }
  #breadcrumps ul li {
    display: inline-block;
    font-size: 14px;
  }
  #breadcrumps ul li span {
    margin-left: 8px;
    margin-right: 8px;
  }
  #breadcrumps ul li a {
    font-size: 14px;
  }
  #breadcrumps ul li a:hover {
    text-decoration: underline;
  }
  #breadcrumps ul li:last-child a {
    color: #86bacf;
  }
}
/*--------------------------------------------------------*/
/*GENERAL STYLING*/
a.blueLink {
  color: #86bacf;
}
a.linkFullscreen {
  background: url('../images/arrow_left.png') no-repeat left center;
  padding-left: 20px;
  padding-top: 0px;
}
a.linkFullscreen:hover {
  text-decoration: underline;
}
a {
  font-size: 12px;
}
@media only screen and (min-width: 1000px) {
  a {
    font-size: 16px;
  }
}
.arrowLink {
  padding: 0px 7px 2px 0;
}
h1 {
  color: #ffffff;
}
.headlineBottom {
  padding: 6px 0 20px 20px;
}
@media only screen and (min-width: 750px) {
  .headlineBottom {
    padding: 20px 0 20px 40px;
  }
}
.dividerWhite {
  width: 40px;
  height: 1px;
  background-color: #535353;
  margin: 30px 0 30px 0;
}
.dividerBlue {
  top: 30px;
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #86bacf;
}
.serviceDivider {
  width: 74px;
}
@media screen and (min-width: 1000px) {
  .serviceDivider {
    width: 105px;
  }
}
.portfolioDivider {
  width: 96px;
}
@media screen and (min-width: 1000px) {
  .portfolioDivider {
    width: 141px;
  }
}
.aboutDivider {
  width: 58px;
}
@media screen and (min-width: 1000px) {
  .aboutDivider {
    width: 83px;
  }
}
.contactDivider {
  width: 83px;
}
@media screen and (min-width: 1000px) {
  .contactDivider {
    width: 122px;
  }
}
/*
	Slick Elements
	*/
.slick-arrow {
  position: absolute;
  z-index: 10;
  /* margin: auto; */
  top: 47%;
}
.slick-prev {
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
  background: transparent url("../images/back.png") no-repeat center center;
  border: none;
  padding: 0 0 0 0;
  width: 50px;
  height: 50px;
}
@media only screen and (min-width: 750px) {
  .slick-prev {
    left: 40px;
  }
}
.slick-prev:hover {
  background: transparent url("../images/back_hover.png") no-repeat center center;
}
.slick-next {
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  background: transparent url("../images/forward.png") no-repeat center center;
  border: none;
  padding: 0 0 0 0;
  width: 50px;
  height: 50px;
}
@media only screen and (min-width: 750px) {
  .slick-next {
    right: 40px;
  }
}
.slick-next:hover {
  background: transparent url("../images/forward_hover.png") no-repeat center center;
}
.video-js-responsive-container.vjs-sd {
  padding-top: 75%;
}
.video-js-responsive-container {
  width: 100%;
  position: relative;
}
.video-js-responsive-container .video-js {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
